<h1> Search result </h1>

<div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
  <% @items.each do |item| %>
    <div style="border: black 1px solid;padding: 5px;">
      <h2> <%= item.name %> </h2>
      <h2> <%= item.description %> </h2>
      <h2> <%= item.price %> </h2>
      <% if user_signed_in? %>
        <p>
        <%= link_to 'Buy', new_order_path(item) %> |
        <% if current_user.admin? %>
            <%= link_to 'Edit', edit_item_path(item) %> |
            <%= link_to 'Delete', item_path(item), data: {method: :delete, confirm: 'Delete item?'} %>
          </p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>